@mixin link-hover{
	z-index: 1;
	color: #fff;
	p {
		position: relative;
		text-decoration: none;
		padding: 5px 10px;
		transition: color 0.3s;
		z-index: 1;
		&::before {
			content: '';
			height: 0;
			width: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			border-radius: 5px;
			background-color: var(--main-color);
			transition: height 0.3s;
			z-index: -1;
		}
		&:hover::before {
			height: 100%;
		}
		&:hover {
			color: #fff;
		}
	}
}

